
.filter {
	.clearfix();
	padding: 0 0 @vertical-padding 0;

	form {
		display: block;
		clear: both;
	}

	.tree {
		padding-left: 0;
	}
}

div.filter form.editor ul.tree li .datafilter li.active.active {
	background-color: none !important;
}

.input-btn-grp {
    .rounded-corners();
    background: @gray-lighter;
    color: @icinga-blue;
	padding: 0 @horizontal-padding;
	float: right;

    input.search {
	    background: none;
	    border-bottom: none;
	    -webkit-appearance: none;
	    -moz-appearance: none;
	    -ms-appearance: none;
	    appearance: none;
	    padding-left: 0;
		min-width: 8em;
		width: auto;
    }

    input.search::-webkit-input-placeholder {
	    color: @gray-light;
    }

    input.search:-moz-input-placeholder {
	    color: @gray-light;
    }

    input.search::-moz-input-placeholder {
	    color: @gray-light;
    }

    input.search::-ms-input-placeholder {
	    color: @gray-light;
    }

    input.search::input-placeholder {
	    color: @gray-light;
    }

    input.search:focus {
	    background-image: none !important;
    }
}

.btn-grp {
	.rounded-corners();
    background: @gray-lighter;
    color: @icinga-blue;
	padding: 0 @horizontal-padding;
	width: 8em;
	float: left;

	> a {
		max-width: 8em;
		display: block;
		width: 100%;
		height: 100%;
	}
.status-bar {
  .clearfix();
  position: fixed;
  bottom: 0;
  background: white;
  margin-bottom: 0;
  padding: @vertical-padding @horizontal-padding;
  border-top: 1px solid @gray-lighter;

  &:before {
  	content: "";
  	display: block;
  	width: 100%;
  	position: absolute;
  	top: -13px;
  	margin-left: -@horizontal-padding;
  	height: 12px;
  	background: -webkit-linear-gradient(bottom, #ffffff 0%, rgba(255,255,255,0) 100%);
      background:    -moz-linear-gradient(bottom, #ffffff 0%, rgba(255,255,255,0) 100%);
      background:     -ms-linear-gradient(bottom, #ffffff 0%, rgba(255,255,255,0) 100%);
      background:         linear-gradient(bottom, #ffffff 0%, rgba(255,255,255,0) 100%);
  }

  .selection-info {
  	float: right;
  }
}

}

}

.toolbar {

  clear: both;

  ul {
    text-align: center;
    padding-left: 0;
    margin: 0 -6px;
  }

  li {
    display: inline-block;
    padding: 0px 12px;
    color:  #0095bf;
    word-break:break-word;
    max-width: 19%;
    vertical-align: top
  }

  li a {
    display: block;
    width: 100%;
    height: 100%;
  }

  li > i {
    display: block;
    font-size: 24px;
  }

  li:hover i {
    color: gray;
  }

  &.one {
    ul {
        padding: 0 0 @vertical-padding 0;
    }

    li {
        .rounded-corners();
        max-width: none;
        line-height: 18px;
        background: @icinga-blue;
        color: white;
        display: inline-block;
        width: auto;
        padding: @vertical-padding @horizontal-padding;
    }

    li > i {
        font-size: 18px;
        display: inline-block;
    }

    li > a {
        display: block;
        height: 100%;
        width: 100%;
    }
  }
}
