<?xml version="1.0" encoding="utf-8"?>
<phpunit bootstrap="../../test/php/bootstrap.php">
    <testsuites>
        <!--
            Unit testing
        -->
        <testsuite name="unit">
            <directory>../../test/php/application/</directory>
            <directory>../../test/php/library/</directory>

            <!-- Module tests are independent from core tests -->
            <directory>../*/test/php</directory>
            <exclude>../*/test/php/regression</exclude>
        </testsuite>

        <!--
            Regression testing
        -->
        <testsuite name="regression">
            <directory>../../test/php/regression/</directory>
            <directory>../*/test/php/regression</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">../../application</directory>
            <directory suffix=".php">../../library/Icinga</directory>
            <directory suffix=".php">../../modules</directory>
            <exclude>
                <file>../../library/Icinga/Application/functions.php</file>
                <file>../../library/Icinga/Application/webrouter.php</file>
                <directory>../../library/Icinga/Web/View/helpers</directory>
            </exclude>
        </whitelist>
    </filter>
    <listeners>
        <listener class="\Mockery\Adapter\Phpunit\TestListener"></listener>
    </listeners>
</phpunit>
