# Exclude files related to git when generating an archive
.git* export-ignore

# Normalize puppet manifests' line endings to LF on checkin and prevent conversion to CRLF when the files are checked out
.puppet* eol=lf
