# Exclude all hidden files
.*

# Except those related to git
!.git*
!.travis.yml
!.mailmap

# Testing - created by test/setup_vendor.sh
/vendor/

# Exclude application log files
var/log/*

# Exclude symlink you need for packaging
/debian

build/*

# Exclude dompdf font cache
library/vendor/dompdf/lib/fonts/*.php
library/vendor/dompdf/lib/fonts/log.htm
