# Exclude all hidden files
.*

# Except those related to git
!.git*
!.mailmap

# Exclude application log files
var/log/*

# Exclude symlink you need for packaging
/debian

build/*

# Exclude dompdf font cache
library/vendor/dompdf/lib/fonts/*.php
library/vendor/dompdf/lib/fonts/log.htm

# Exclude files from composer install
vendor/
composer.lock
