# Exclude files related to git when generating an archive
.git* export-ignore

# Normalize puppet manifests' line endings to LF on checkin and prevent conversion to CRLF when the files are checked out
.vagrant-puppet/* eol=lf

# Ignore packaging related files when generating and archive
icingaweb2.spec export-ignore
packages export-ignore
