parameters:
	ignoreErrors:
		-
			message: "#^Parameter \\#2 \\$result of function ldap_first_entry expects LDAP\\\\Result, array\\|LDAP\\\\Result given\\.$#"
			count: 2
			path: library/Icinga/Protocol/Ldap/LdapCapabilities.php

		-
			message: "#^Cannot access offset 'dn' on array\\|int\\.$#"
			count: 1
			path: library/Icinga/Protocol/Ldap/LdapConnection.php

		-
			message: "#^Parameter \\#2 \\$result of function ldap_count_entries expects LDAP\\\\Result, array\\|LDAP\\\\Result given\\.$#"
			count: 1
			path: library/Icinga/Protocol/Ldap/LdapConnection.php

		-
			message: "#^Parameter \\#2 \\$result of function ldap_get_entries expects LDAP\\\\Result, array\\|LDAP\\\\Result given\\.$#"
			count: 1
			path: library/Icinga/Protocol/Ldap/LdapConnection.php
