.icinga-icon-blank {
    background: transparent;
    display: inline-block;
    width: 16px;
    height: 16px;
}

.icinga-icon-acknowledgement {
    background: transparent url("../img/icons/acknowledgement.png") center center no-repeat;
    display: inline-block;
    width: 16px;
    height: 16px;
}

.icinga-icon-comment {
    background: transparent url("../img/icons/comment.png") center center no-repeat;
    display: inline-block;
    width: 16px;
    height: 16px;
}

.icinga-icon-create {
    background: transparent url("../img/icons/create.png") center center no-repeat;
    display: inline-block;
    width: 16px;
    height: 16px;
}

.icinga-icon-dashboard {
    background: transparent url("../img/icons/dashboard.png") center center no-repeat;
    display: inline-block;
    width: 16px;
    height: 16px;
}

.icinga-icon-disabled {
    background: transparent url("../img/icons/disabled.png") center center no-repeat;
    display: inline-block;
    width: 16px;
    height: 16px;
}
.icinga-icon-edit {
    background: transparent url("../img/icons/edit.png") center center no-repeat;
    display: inline-block;
    width: 16px;
    height: 16px;
}

.icinga-icon-error {
    background: transparent url("../img/icons/error.png") center center no-repeat;
    display: inline-block;
    width: 16px;
    height: 16px;
}

.icinga-icon-flapping {
    background: transparent url("../img/icons/flapping.png") center center no-repeat;
    display: inline-block;
    width: 16px;
    height: 16px;
}

.icinga-icon-in-downtime {
    background: transparent url("../img/icons/in_downtime.png") center center no-repeat;
    display: inline-block;
    width: 16px;
    height: 16px;
}

.icinga-icon-remove {
    background: transparent url("../img/icons/remove.png") center center no-repeat;
    display: inline-block;
    width: 16px;
    height: 16px;
}

.icinga-icon-save {
    background: transparent url("../img/icons/save.png") center center no-repeat;
    display: inline-block;
    width: 16px;
    height: 16px;
}

.icinga-icon-service {
    background: transparent url("../img/icons/service.png") center center no-repeat;
    display: inline-block;
    width: 16px;
    height: 16px;
}

.icinga-icon-submit {
    background: transparent url("../img/icons/submit.png") center center no-repeat;
    display: inline-block;
    width: 16px;
    height: 16px;
}

.icinga-icon-unhandled {
    background: transparent url("../img/icons/unhandled.png") center center no-repeat;
    display: inline-block;
    width: 16px;
    height: 16px;
}

.icinga-icon-user {
    background: transparent url("../img/icons/user.png") center center no-repeat;
    display: inline-block;
    width: 16px;
    height: 16px;
}

.icinga-icon-active-checks-disabled {
    background: transparent url("../img/icons/active_checks_disabled.png") center center no-repeat;
    display: inline-block;
    width: 16px;
    height: 16px;
}

.icinga-icon-active-passive-checks-disabled {
    background: transparent url("../img/icons/active_passive_checks_disabled.png") center center no-repeat;
    display: inline-block;
    width: 16px;
    height: 16px;
}

.icinga-icon-notification {
    background: transparent url("../img/icons/notification.png") center center no-repeat;
    display: inline-block;
    width: 16px;
    height: 16px;
}

.icinga-icon-notification-disabled {
    background: transparent url("../img/icons/notification_disabled.png") center center no-repeat;
    display: inline-block;
    width: 16px;
    height: 16px;
}

.icinga-icon-csv {
    background: transparent url("../img/icons/csv.png") center center no-repeat;
    display: inline-block;
    width: 16px;
    height: 16px;
}

.icinga-icon-pdf {
    background: transparent url("../img/icons/pdf.png") center center no-repeat;
    display: inline-block;
    width: 16px;
    height: 16px;
}

.icinga-icon-json {
    background: transparent url("../img/icons/json.png") center center no-repeat;
    display: inline-block;
    width: 16px;
    height: 16px;
}

.icinga-icon-downtime-start {
    background: transparent url("../img/icons/downtime_start.png") center center no-repeat;
    display: inline-block;
    width: 16px;
    height: 16px;
}

.icinga-icon-downtime-end {
    background: transparent url("../img/icons/downtime_end.png") center center no-repeat;
    display: inline-block;
    width: 16px;
    height: 16px;
}

.icinga-icon-hostgroup {
    background: transparent url("../img/icons/hostgroup.png") center center no-repeat;
    display: inline-block;
    width: 16px;
    height: 16px;
}

.icinga-icon-servicegroup {
    background: transparent url("../img/icons/servicegroup.png") center center no-repeat;
    display: inline-block;
    width: 16px;
    height: 16px;
}

.icinga-icon-host {
    background: transparent url("../img/icons/host.png") center center no-repeat;
    display: inline-block;
    width: 16px;
    height: 16px;
}

.icinga-icon-service {
    background: transparent url("../img/icons/service.png") center center no-repeat;
    display: inline-block;
    width: 16px;
    height: 16px;
}

.icinga-icon-success {
    background: transparent url("../img/icons/success.png") center center no-repeat;
    display: inline-block;
    width: 16px;
    height: 16px;
}

.icinga-icon-history {
    background: transparent url("../img/icons/history.png") center center no-repeat;
    display: inline-block;
    width: 16px;
    height: 16px;
}

.icinga-icon-reschedule {
    background: transparent url("../img/icons/reschedule.png") center center no-repeat;
    display: inline-block;
    width: 16px;
    height: 16px;
}

.icinga-icon-softstate {
    background: transparent url("../img/icons/softstate.png") center center no-repeat;
    display: inline-block;
    width: 16px;
    height: 16px;
}

.icinga-icon-next {
    background: transparent url("../img/icons/next.png") center center no-repeat;
    display: inline-block;
    width: 16px;
    height: 16px;
}

.icinga-icon-prev {
    background: transparent url("../img/icons/prev.png") center center no-repeat;
    display: inline-block;
    width: 16px;
    height: 16px;
}

.icinga-icon-refresh {
    background: transparent url("../img/icons/refresh.png") center center no-repeat;
    display: inline-block;
    width: 16px;
    height: 16px;
}

.icinga-icon-expand {
    background: transparent url("../img/icons/expand.png") center center no-repeat;
    display: inline-block;
    width: 16px;
    height: 16px;
}

.icinga-icon-search {
    background: transparent url("../img/icons/search.png") center center no-repeat;
    display: inline-block;
    width: 16px;
    height: 16px;
}