// Gray colors
@gray: #9E9E9E;
@gray-light: #c9c9c9;
@gray-lighter: #EEEEEE;
@gray-lightest: #F7F7F7;

// Icinga colors
@icinga-blue: #0095BF;

// Background color for <body>
@body-bg-color: #fff;

// Text color on <body>
@text-color: #535353;
@text-color-inverted: @body-bg-color;
@text-color-light: @gray;

// Text color on <a>
@link-color: @text-color;

// Font and line-height for text on <body>
@font-family: Calibri, Helvetica, sans-serif;
@font-size: 14px;
@font-size-small: 11px;
@line-height: 17px;
@line-height-small: 14px;

// Default padding
@vertical-padding: 6px;
@horizontal-padding: 12px;
