// {{{ICINGA_LICENSE_HEADER}}}
// {{{ICINGA_LICENSE_HEADER}}}

table.action.comments td p, table.action.downtimes td p {
  margin: 0;
  font-size: 0.8em;
}

table.action.comments td a, table.action.downtimes td a {
  font-weight: bold;
}

.content.processinfo table.avp th {
  width: 16em;
}

p.pluginoutput {
  font-size: 0.9em;
  width: 100%;
  white-space: pre-wrap;
}

pre.pluginoutput {
  font-family: Courier;
  background: #eee;
  font-size: 0.7em;
  overflow: auto; 
  white-space: pre-wrap;
  margin: 0em;
  padding: 1em;
  margin-bottom: 0.5em;
  color: black;
}

table.objecthistory td {
  font-size: 0.8em;
}

table.objecthistory td.state {
  font-size: 0.7em;
}

table.objectstate {
  font-size: 0.8em;
}

table.objectstate td.state {
  font-size: 0.92em;
  line-height: 1.8em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

div.contacts div.contact {
  background-color: #eee;
  padding: 0.5em;
  border: 1px solid #d9d9d9;
  overflow: hidden;
  margin: 0.125em;
  float: left;
}

div.contacts div.contact a{
  color: @colorTextDefault;
}

div.contacts div.contact > img {
  width: 80px;
  height: 80px;
  margin-right: 8px;
  float: left;
}

div.contacts div.notification-periods {
  margin-top: 0.5em;
}

h3.tinystatesummary {
  line-height: 2em;
  font-size: 0.95em;
  margin-right: 1em;
  border-bottom: 2px solid @colorPetrol;
}

h3.tinystatesummary a {
    color: inherit;
    text-decoration: none;
    padding: 1px 3px;
}

h3.tinystatesummary a:hover {
    text-decoration: underline;
}

/* State badges */
span.state {
    font-size: 1em;
    font-weight: 700;
    color: white;
    font-weight: bold;
    padding: 1px 2px;
    margin-right: 5px;

}

span.state.active {
    border: 2px solid white;
}

span.state span.state {
    font-size: 1em;
    margin: 0 -3px 0 5px;
}

span.state.ok {
    background: @colorOk;
}

span.state.critical {
    background: @colorCritical;
}

span.state.handled.critical {
    background: @colorCriticalHandled;
}

span.state.warning {
    background: @colorWarning;
}

span.state.handled.warning {
    background: @colorWarningHandled;
}

span.state.unknown {
    background: @colorUnknown;
}

span.state.handled.unknown {
    background: @colorUnknownHandled;
}

span.state.pending {
    background: @colorPending;
}

form.instance-features span.description, form.object-features span.description {
  display: inline;
}

table.avp .customvar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-left: 1.5em;
}

div.selection-info {
  padding-top:1em;
}
