/* Layout colors */

#sidebar {
  background-color: #999;
  -moz-box-shadow: inset -0.5em 0 0.5em -0.5em #555;
  -webkit-box-shadow: inset -0.5em 0 0.5em -0.5em #555;
  box-shadow: inset -0.5em 0 0.5em -0.5em #555;
}

#header {
  background-color: #555;
  color: #d0d0d0;
}

#header input {
  background-color: #777;
}

#main {
  background-color: white;
}

.container {
  background-color: white;
}

#col1.impact, #col2.impact, #col3.impact {
  background-color: #ddd;
  .controls {
    background-color: #ddd;
  }
}

@colorOk: #44bb77;
@colorWarning: #ffaa44;
@colorWarningHandled: #ffcc66;
@colorCritical: #ff5566;
@colorCriticalHandled: #ff99aa;
@colorUnknown: #dd66ff;
@colorUnknownHandled: #ee99ff;
@colorPending: #77aaff;
@colorInvalid: #999;
@colorUnreachable: #dd66ff;
@colorUnreachableHandled: #ee99ff;

