/* Layout colors */

#sidebar {
  background-color: #999;
  -moz-box-shadow: inset -0.5em 0 0.5em -0.5em #555;
  -webkit-box-shadow: inset -0.5em 0 0.5em -0.5em #555;
  box-shadow: inset -0.5em 0 0.5em -0.5em #555;
}

#header {
  background-color: #555;
  background-image: -moz-linear-gradient(top, #777, #555);
  background-image: -webkit-linear-gradient(top, #777, #555);
  background-image: -o-linear-gradient(top, #777, #555);
  background-image: -ms-linear-gradient(top, #777, #555);
  background-image: linear-gradient(top, #777, #555);
  color: #ddd;
  color: #d0d0d0;
}

#header input {
  background-color: #777;
}

#main {
  background-color: white;
}

.container {
  background-color: white;
}

#col1.impact, #col2.impact, #col3.impact {
  background-color: #ddd;
  .controls {
    background-color: #ddd;
  }
}

@colorLinkDefault: #049baf;
@colorTextDefault: #222222;
@colorOk: #44bb77;
@colorWarning: #ffaa44;
@colorWarningHandled: #ffcc66;
@colorCritical: #ff5566;
@colorCriticalHandled: #ff99aa;
@colorUnknown: #dd66ff;
@colorUnknownHandled: #ee99ff;
@colorPending: #77aaff;
@colorInvalid: #999;
@colorUnreachable: #dd66ff;
@colorUnreachableHandled: #ee99ff;
@colorActiveCheck: #44bb77;
@colorPassiveCheck: #44ccaa;
@colorDisabledCheck: #cccccc;
@colorEnabled: #44bb77;
@colorDisabled: #cccccc;
@colorFlapping: #16c3cc;

