#menu {
  background: #999;
}

#menu a {
  color: #121212;
}

#menu .separator {
  background-color: #888;
}

#menu li {
    margin-left: 0.5em;
    margin-right: 0.5em;
}

#menu > ul > li {
  border-bottom: 2em solid #888;
}

#menu > ul > li.active {
  background-color: white;
  padding-left: 0.5em;
  margin-left: 0;
  margin-right: 0;
}

#menu > ul > li.active > a {
  color: #121212;
}

#menu > ul > li {
  border-bottom: 0.12em solid #888;
}

#menu > ul > li li {
  font-size: 0.8em;
  padding-left: 1.875em;
}


/* Collapsed menu item color */
#menu > ul > li > a {
  color: #f5f5f5;
}

/* Sub item color */
#menu .active ul li a {
  color: #a6a6a6;
}

#menu ul {
  list-style-type: none;
  padding: 0;
}

#menu ul li a {
  display: block;
  line-height: 2.5em;
  padding-left: 0.7em;
  text-decoration: none;
}

#menu > ul > li img {
  width: 1em;
  height: 1em;
  border: none;
  margin-bottom: -0.125em;
  margin-right: 0.5em;
}

#menu ul ul li a {
  line-height: 1em;
  margin-bottom: 1em;
}
