// Style

.migrations {
  .migration-details {
    > span {
      color: @text-color-light;
    }

    summary {
      color: @icinga-blue;
      cursor: pointer;
      border-radius: .25em;

      &::-webkit-details-marker {
        display: none; // Disable safari default details marker
      }
    }
  }

  .migration-form {
  }

  .modules-header {
    input[type="submit"] {
      border: none;
      padding-left: 0;
      padding-right: 0;

      &:disabled {
        color: @disabled-gray;
        background: none;

        &:hover {
          cursor: not-allowed;
        }
      }
    }
  }
}

// Layout

.pending-migrations-hint {
  text-align: center;

  > h2 {
    font-size: 2em;
  }
}

.migrations {
  .list-item {
    align-items: baseline;
  }

  .list-item header {
    align-items: baseline;
    height: 1.5em;

    input[type="submit"] {
      margin-top: -.5em;
    }
  }

  .list-item .caption {
    height: 1.5em;
    margin-top: .25em;

    p {
      margin-bottom: 0;
    }

    .description {
      line-height: 1.5;
    }
  }

  footer {
    margin-top: .25em;
  }

  .migration-list-control {
    padding-bottom: 1em;
  }

  .modules-header {
    display: inline-flex;
    flex-wrap: nowrap;
    align-items: baseline;

    .migration-form {
      margin-left: .5em;
    }
  }

  .migration-details {
    font-size: 1em;
    line-height: 1.5em;

    summary {
      display: inline-block;
    }
  }

  .migration-form {
    input[type="submit"] {
      line-height: 1.5;

      &:disabled {
        color: @disabled-gray;
        cursor: not-allowed;
        background: none;
        border-color: fade(@disabled-gray, 75)
      }
    }
  }
}
