<?xml version="1.0" encoding="utf-8"?>
<phpunit>
    <testsuites>
        <!--
            Unit testing
        -->
        <testsuite name="unit">
            <directory>application/</directory>
            <directory>bin/</directory>
            <directory>library/</directory>
        </testsuite>

        <!--
            Regression testing
        -->
        <testsuite name="regression">
            <directory>regression/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <blacklist>
            <directory suffix=".php">/usr/share/php</directory>
            <directory suffix=".php">/usr/lib</directory>
        </blacklist>
    </filter> 
</phpunit>
