name: CI

on:
  push:
    branches:
      - main
      - release/*
      - support/*
  pull_request:
    branches:
      - main

jobs:
  php:
    name: PHP
    uses: Icinga/github-actions/.github/workflows/php.yml@main
    with:
      databases: true
      php-extensions: ldap
      dependencies: |
        {
          "./icinga-php/ipl"                : "https://github.com/Icinga/icinga-php-library.git#snapshot/nightly",
          "./icinga-php/vendor"             : "https://github.com/Icinga/icinga-php-thirdparty.git#snapshot/nightly",
          "./icingaweb2-modules/icingadb"   : "https://github.com/Icinga/icingadb-web.git",
          "./icingaweb2-modules/pdfexport"  : "https://github.com/Icinga/icingaweb2-module-pdfexport.git",
          "./icingaweb2-modules/x509"       : "https://github.com/Icinga/icingaweb2-module-x509.git"
        }
      env: |
        {
          "ICINGAWEB_LIBDIR"      : "./icinga-php",
          "ICINGAWEB_MODULES_DIR" : "modules:./icingaweb2-modules"
        }
